@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url("../src/assets/fonts/Allura-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../src/assets/fonts/Quicksand-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../src/assets/fonts/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

.font-1 {
  font-family: "Montserrat";
}
.font-2 {
  font-family: "Quicksand";
}
.font-3 {
  font-family: "Allura";
}

.b2 {
  background-color: #eeaeae;
}
.b3 {
  background-color: #aecfee;
}
.b4 {
  background-color: #d5eeae;
}
.b1 {
  background-color: #eeaee3;
}
.b10 {
  background-color: #0f2027;
}
.b11 {
  background-color: #ff5e62;
}
.b12 {
  background-color: #00c9a7;
}
.b12 {
  background-color: #cccccc;
}

/* style.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

body {
  background: radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
